
<div style="width: 20%; padding: 4rem">
    <div class="card card--editor">
        <header class="card__header">
            <img class="card__image" src="images/logo.png" alt="">
        </header>
        <div class="card__body">
            Lorem ipsum
        </div>

        <div>
            <footer class="card__footer">
                <button class="btn btn--icon">
                    <svg class="icon icon--white">
                        <use xlink:href="images/read.svg#read"></use>
                    </svg>
                </button>
                <button class="btn btn--edit btn--icon">
                    <svg class="icon icon--white">
                        <use xlink:href="images/edit.svg#Edit"></use>
                    </svg>
                </button>
                <button class="btn btn--icon">
                    <svg class="icon icon--white">
                        <use xlink:href="images/trash.svg#Trash"></use>
                    </svg>
                </button>
            </footer>
        </div>

    </div>
</div>
